In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

**Dictionnaire départements**

In [157]:
DEPARTMENTS = {
    '01': 'Ain', 
    '02': 'Aisne', 
    '03': 'Allier', 
    '04': 'Alpes-de-Haute-Provence', 
    '05': 'Hautes-Alpes',
    '06': 'Alpes-Maritimes', 
    '07': 'Ardèche', 
    '08': 'Ardennes', 
    '09': 'Ariège', 
    '10': 'Aube', 
    '11': 'Aude',
    '12': 'Aveyron', 
    '13': 'Bouches-du-Rhône', 
    '14': 'Calvados', 
    '15': 'Cantal', 
    '16': 'Charente',
    '17': 'Charente-Maritime', 
    '18': 'Cher', 
    '19': 'Corrèze', 
    '2A': 'Corse-du-Sud', 
    '2B': 'Haute-Corse',
    '21': 'Côte-d\'Or', 
    '22': 'Côtes-d\'Armor', 
    '23': 'Creuse', 
    '24': 'Dordogne', 
    '25': 'Doubs', 
    '26': 'Drôme',
    '27': 'Eure', 
    '28': 'Eure-et-Loir', 
    '29': 'Finistère', 
    '30': 'Gard', 
    '31': 'Haute-Garonne', 
    '32': 'Gers',
    '33': 'Gironde', 
    '34': 'Hérault', 
    '35': 'Ille-et-Vilaine', 
    '36': 'Indre', 
    '37': 'Indre-et-Loire',
    '38': 'Isère', 
    '39': 'Jura', 
    '40': 'Landes', 
    '41': 'Loir-et-Cher', 
    '42': 'Loire', 
    '43': 'Haute-Loire',
    '44': 'Loire-Atlantique', 
    '45': 'Loiret', 
    '46': 'Lot', 
    '47': 'Lot-et-Garonne', 
    '48': 'Lozère',
    '49': 'Maine-et-Loire', 
    '50': 'Manche', 
    '51': 'Marne', 
    '52': 'Haute-Marne', 
    '53': 'Mayenne',
    '54': 'Meurthe-et-Moselle', 
    '55': 'Meuse', 
    '56': 'Morbihan', 
    '57': 'Moselle', 
    '58': 'Nièvre', 
    '59': 'Nord',
    '60': 'Oise', 
    '61': 'Orne', 
    '62': 'Pas-de-Calais', 
    '63': 'Puy-de-Dôme', 
    '64': 'Pyrénées-Atlantiques',
    '65': 'Hautes-Pyrénées', 
    '66': 'Pyrénées-Orientales', 
    '67': 'Bas-Rhin', 
    '68': 'Haut-Rhin', 
    '69': 'Rhône',
    '70': 'Haute-Saône', 
    '71': 'Saône-et-Loire', 
    '72': 'Sarthe', 
    '73': 'Savoie', 
    '74': 'Haute-Savoie',
    '75': 'Paris', 
    '76': 'Seine-Maritime', 
    '77': 'Seine-et-Marne', 
    '78': 'Yvelines', 
    '79': 'Deux-Sèvres',
    '80': 'Somme', 
    '81': 'Tarn', 
    '82': 'Tarn-et-Garonne', 
    '83': 'Var', 
    '84': 'Vaucluse', 
    '85': 'Vendée',
    '86': 'Vienne', 
    '87': 'Haute-Vienne', 
    '88': 'Vosges', 
    '89': 'Yonne', 
    '90': 'Territoire de Belfort',
    '91': 'Essonne', 
    '92': 'Hauts-de-Seine', 
    '93': 'Seine-Saint-Denis', 
    '94': 'Val-de-Marne', 
    '95': 'Val-d\'Oise',
    '971': 'Guadeloupe', 
    '972': 'Martinique', 
    '973': 'Guyane', 
    '974': 'La Réunion',
    '975': 'Saint-Pierre et Miquelon',
    '976': 'Mayotte',
}

flipped_dict = dict(zip(DEPARTMENTS.values(), DEPARTMENTS.keys()))

# Taux de natalité

Fichiers naissance par département
Source https://www.insee.fr/fr/statistiques/2540004?sommaire=4767262 
Puis Fichiers par départements de naissance, csv 12 mo

In [2]:
link = "https://www.insee.fr/fr/statistiques/fichier/2012761/TCRD_053.xlsx"
fichier_natalite = pd.read_excel(link,"DEP", header = 3, skipfooter = 2)
taux_natalite = fichier_natalite.iloc[:,:3]
taux_natalite.columns = [["code_dpt", "nom_dpt", "tx_natalite_2020_percent"]]
display(taux_natalite)
# Colonnes par index

    code_dpt                  nom_dpt tx_natalite_2020_percent
0         01                      Ain                     10.3
1         02                    Aisne                     10.1
2         03                   Allier                      7.8
3         04  Alpes-de-Haute-Provence                      8.0
4         05             Hautes-Alpes                      8.3
..       ...                      ...                      ...
97       971               Guadeloupe                     12.4
98       972               Martinique                      9.9
99       973                   Guyane                     27.5
100      974               La Réunion                     15.4
101      976                  Mayotte                     35.2

[102 rows x 3 columns]

# Musées

Liste et localisation des musées en France
https://www.data.gouv.fr/fr/datasets/liste-et-localisation-des-musees-de-france/
Puis liste des musées de france au 31/12/2017 (238.3ko)

In [133]:
musees = pd.read_excel("https://www.data.gouv.fr/fr/datasets/r/22df4a13-72d8-4b34-940e-8aec297b5ded",
                      usecols = "A,B,E:I")

In [134]:
musees.head()

,NEW REGIONS,NOMDEP,ID MUSEE,NOM DU MUSEE,ADR,CP,VILLE
0,AUVERGNE-RHÔNE-ALPES,AIN,0105302,Musée Départemental des Pays De l'Ain,"34, rue du Général Delestraint",1000.0,BOURG-EN-BRESSE
1,AUVERGNE-RHÔNE-ALPES,AIN,0105301,Musée du Brou,"Monastère Royal de Brou\n63, Boulevard de Brou",1000.0,BOURG-EN-BRESSE
2,AUVERGNE-RHÔNE-ALPES,AIN,0106401,Musée de la Société d'Histoire et d'Archéologie,Mairie,1470.0,BRIORD
3,AUVERGNE-RHÔNE-ALPES,AIN,0119201,Musée Archéologique,Place de l'Eglise,1580.0,IZERNORE
4,AUVERGNE-RHÔNE-ALPES,AIN,0121801,Musée du Bugey-Valmorey,Maison Renaissance,1260.0,LOCHIEU

In [158]:
df_musees = musees.groupby("NOMDEP").size().reset_index()

df_musees = df_musees.rename(columns = {"NOMDEP":"nom_dep", 0:"nb_musees"})
display(df_musees)
display(df_musees.loc[81])
#df_musees.columns = [["nom_dep", "nb_musees"]]

                     nom_dep  nb_musees
0                        AIN         14
1                      AISNE         15
2                     ALLIER          9
3    ALPES DE HAUTE PROVENCE          9
4            ALPES-MARITIMES         33
..                       ...        ...
96                    VENDEE         14
97                    VIENNE         12
98                    VOSGES          7
99                     YONNE         12
100                 YVELINES         18

[101 rows x 2 columns]

nom_dep      SAINT-PIERRE ET MIQUELON
nb_musees                           1
Name: 81, dtype: object

In [159]:
from nltk.metrics.distance import jaro_winkler_similarity
from scipy.spatial.distance import cdist
import unidecode

In [160]:
arr_dic = np.array([unidecode.unidecode(word.lower()) for word in flipped_dict.keys()])
#display(arr_dic)

# Recréation du dictionnaire dans le format qui nous intéresse
dic_dpt_lower = {}

for key, values in flipped_dict.items():
    dic_dpt_lower.update({unidecode.unidecode(key.lower()):values})
display(dic_dpt_lower)

{'ain': '01',
 'aisne': '02',
 'allier': '03',
 'alpes-de-haute-provence': '04',
 'hautes-alpes': '05',
 'alpes-maritimes': '06',
 'ardeche': '07',
 'ardennes': '08',
 'ariege': '09',
 'aube': '10',
 'aude': '11',
 'aveyron': '12',
 'bouches-du-rhone': '13',
 'calvados': '14',
 'cantal': '15',
 'charente': '16',
 'charente-maritime': '17',
 'cher': '18',
 'correze': '19',
 'corse-du-sud': '2A',
 'haute-corse': '2B',
 "cote-d'or": '21',
 "cotes-d'armor": '22',
 'creuse': '23',
 'dordogne': '24',
 'doubs': '25',
 'drome': '26',
 'eure': '27',
 'eure-et-loir': '28',
 'finistere': '29',
 'gard': '30',
 'haute-garonne': '31',
 'gers': '32',
 'gironde': '33',
 'herault': '34',
 'ille-et-vilaine': '35',
 'indre': '36',
 'indre-et-loire': '37',
 'isere': '38',
 'jura': '39',
 'landes': '40',
 'loir-et-cher': '41',
 'loire': '42',
 'haute-loire': '43',
 'loire-atlantique': '44',
 'loiret': '45',
 'lot': '46',
 'lot-et-garonne': '47',
 'lozere': '48',
 'maine-et-loire': '49',
 'manche': '50',
 'marne': '51',
 'haute-marne': '52',
 'mayenne': '53',
 'meurthe-et-moselle': '54',
 'meuse': '55',
 'morbihan': '56',
 'moselle': '57',
 'nievre': '58',
 'nord': '59',
 'oise': '60',
 'orne': '61',
 'pas-de-calais': '62',
 'puy-de-dome': '63',
 'pyrenees-atlantiques': '64',
 'hautes-pyrenees': '65',
 'pyrenees-orientales': '66',
 'bas-rhin': '67',
 'haut-rhin': '68',
 'rhone': '69',
 'haute-saone': '70',
 'saone-et-loire': '71',
 'sarthe': '72',
 'savoie': '73',
 'haute-savoie': '74',
 'paris': '75',
 'seine-maritime': '76',
 'seine-et-marne': '77',
 'yvelines': '78',
 'deux-sevres': '79',
 'somme': '80',
 'tarn': '81',
 'tarn-et-garonne': '82',
 'var': '83',
 'vaucluse': '84',
 'vendee': '85',
 'vienne': '86',
 'haute-vienne': '87',
 'vosges': '88',
 'yonne': '89',
 'territoire de belfort': '90',
 'essonne': '91',
 'hauts-de-seine': '92',
 'seine-saint-denis': '93',
 'val-de-marne': '94',
 "val-d'oise": '95',
 'guadeloupe': '971',
 'martinique': '972',
 'guyane': '973',
 'la reunion': '974',
 'saint-pierre et miquelon': '975',
 'mayotte': '976'}

In [161]:
arr_dpt_mus = np.array(df_musees["nom_dep"].str.lower())
display(arr_dpt_mus)

array(['ain', 'aisne', 'allier', 'alpes de haute provence',
       'alpes-maritimes', 'ardeche', 'ardennes', 'ariege', 'aube', 'aude',
       'aveyron', 'bas-rhin', 'bouches du rhone', 'calvados', 'cantal',
       'charente', 'charente-maritime', 'cher', 'correze', 'corse du sud',
       "cotes d'armor", 'creuse', 'côte d’or', 'deux-sevres', 'dordogne',
       'doubs', 'drôme', 'essonne', 'eure', 'eure et loir', 'finistere',
       'gard', 'gers', 'gironde', 'guadeloupe', 'guyane', 'haut-rhin',
       'haute vienne', 'haute-corse', 'haute-garonne', 'haute-loire',
       'haute-marne', 'haute-saone', 'haute-savoie', 'hautes-alpes',
       'hautes-pyrenees', 'hauts de seine', 'herault', 'ile et vilaine',
       'indre', 'indre et loire', 'isere', 'jura', 'landes',
       'loir et cher', 'loire', 'loire-atlantique', 'loiret', 'lot',
       'lot et garonne', 'lozere', 'maine-et-loire', 'manche', 'marne',
       'martinique', 'mayenne', 'meurthe et moselle', 'meuse', 'morbihan',
       'moselle', 'nièvre', 'nord', 'oise', 'orne', 'paris',
       'pas-de-calais', 'puy de dôme', 'pyrenees orientales',
       'pyrénées atlantiques', 'reunion', 'rhône',
       'saint-pierre et miquelon', 'saone et loire', 'sarthe', 'savoie',
       'seine et marne', 'seine saint-denis', 'seine-maritime', 'somme',
       'tarn', 'tarn-et-garonne', 'territoire de belfort', "val d'oise",
       'val de marne', 'var', 'vaucluse', 'vendee', 'vienne', 'vosges',
       'yonne', 'yvelines'], dtype=object)

In [162]:
# Cellule utilisée pour faire des tests

x = str(arr_dic[0])
y = arr_dpt_mus[0]
display(x)
display(type(x))
display(y)
display(type(y))

display("-----")
display(jaro_winkler_similarity("boh","boh"))
display(jaro_winkler_similarity(x,y))

'ain'

str

'ain'

str

'-----'

1.0

1.0

In [163]:
# arr_dic en colonnes
matrix = cdist(arr_dpt_mus.reshape(-1, 1), arr_dic.reshape(-1, 1), lambda x, y: jaro_winkler_similarity(x[0], y[0]))
display(matrix.shape)
correct = np.argmax(matrix, axis = 1)

for i in range(len(correct)):
    print(arr_dic[correct[i]], arr_dpt_mus[i])

# Décommenter pour vérifier que c'est correct: un seul problème: seine-maritime est march avec saint pierre et miquelon

(101, 102)

ain ain
aisne aisne
allier allier
alpes-de-haute-provence alpes de haute provence
alpes-maritimes alpes-maritimes
ardeche ardeche
ardennes ardennes
ariege ariege
aube aube
aude aude
aveyron aveyron
bas-rhin bas-rhin
bouches-du-rhone bouches du rhone
calvados calvados
cantal cantal
charente charente
charente-maritime charente-maritime
cher cher
correze correze
corse-du-sud corse du sud
cotes-d'armor cotes d'armor
creuse creuse
cote-d'or côte d’or
deux-sevres deux-sevres
dordogne dordogne
doubs doubs
drome drôme
essonne essonne
eure eure
eure-et-loir eure et loir
finistere finistere
gard gard
gers gers
gironde gironde
guadeloupe guadeloupe
guyane guyane
haut-rhin haut-rhin
haute-vienne haute vienne
haute-corse haute-corse
haute-garonne haute-garonne
haute-loire haute-loire
haute-marne haute-marne
haute-saone haute-saone
haute-savoie haute-savoie
hautes-alpes hautes-alpes
hautes-pyrenees hautes-pyrenees
hauts-de-seine hauts de seine
herault herault
ille-et-vilaine ile et vilaine
indre indre
indre-et-loire indre et loire
isere isere
jura jura
landes landes
loir-et-cher loir et cher
loire loire
loire-atlantique loire-atlantique
loiret loiret
lot lot
lot-et-garonne lot et garonne
lozere lozere
maine-et-loire maine-et-loire
manche manche
marne marne
martinique martinique
mayenne mayenne
meurthe-et-moselle meurthe et moselle
meuse meuse
morbihan morbihan
moselle moselle
nievre nièvre
nord nord
oise oise
orne orne
paris paris
pas-de-calais pas-de-calais
puy-de-dome puy de dôme
pyrenees-orientales pyrenees orientales
pyrenees-atlantiques pyrénées atlantiques
la reunion reunion
rhone rhône
saint-pierre et miquelon saint-pierre et miquelon
saone-et-loire saone et loire
sarthe sarthe
savoie savoie
seine-et-marne seine et marne
seine-saint-denis seine saint-denis
seine-maritime seine-maritime
somme somme
tarn tarn
tarn-et-garonne tarn-et-garonne
territoire de belfort territoire de belfort
val-d'oise val d'oise
val-de-marne val de marne
var var
vaucluse vaucluse
vendee vendee
vienne vienne
vosges vosges
yonne yonne
yvelines yvelines

In [164]:
df_musees.head()
df_musees["code_dep"] = " "

dic_dpt_lower[arr_dic[correct[list(arr_dpt_mus).index(df_musees["nom_dep"][2].lower())]]]

for i in range(df_musees.shape[0]):
    val_inter = list(arr_dpt_mus).index(df_musees["nom_dep"][i].lower())
    bonne_valeur = dic_dpt_lower[arr_dic[correct[val_inter]]]
    df_musees["code_dep"][i] = bonne_valeur

C:\Users\leo\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [165]:
#display(df_musees)
display(df_musees.iloc[81])

nom_dep      SAINT-PIERRE ET MIQUELON
nb_musees                           1
code_dep                          975
Name: 81, dtype: object

# Chômage

In [24]:
# importation des données 

import zipfile
from urllib.request import urlopen
import shutil
import os

url = "https://www.insee.fr/fr/statistiques/series/csv/famille/102760732"
file_name = 'famille_TAUX-CHOMAGE_23122021.zip'

# extracting zipfile from URL
with urlopen(url) as response, open(file_name, 'wb') as out_file:
   shutil.copyfileobj(response, out_file)

# extracting required file from zipfile
with zipfile.ZipFile(file_name) as zf:
   zf.extract('valeurs_trimestrielles.csv')

# deleting the zipfile from the directory
os.remove('famille_TAUX-CHOMAGE_23122021.zip')

# loading data from the file
chomage = pd.read_csv('valeurs_trimestrielles.csv', sep=";")
chomage.head()
#display("Libellés d'origine")
#display(chomage["Libellé"].unique())

# on fait un peu de nettoyage
chomage_vf = chomage.drop(chomage[chomage["Libellé"] == "Codes"].index)
chomage_vf = chomage_vf.reset_index()
chomage_vf.shape

chomage_vf["Libellé"] = [nom.split(" ")[7] for nom in chomage_vf["Libellé"]]
chomage_vf = chomage_vf.drop(columns = ["index", "idBank", "Dernière mise à jour", "Période"])
#display("Libellés modifiés")
#display(chomage_vf["Libellé"].unique())
#display("Attention, maintenant on a plus dans le nom l'indication que c'est un département ou une région !")

In [25]:
#display(chomage_vf.head())

# On ne garde que les valeurs depuis 2016
liste_cols = ["Libellé"]
annees = ["20"+str(i) for i in range(16,21)]
trimestres = ["-T"+str(i) for i in range(1,5)]

for an in annees:
    for tr in trimestres:
        liste_cols.append(an+tr)
liste_cols.append("2021-T1")
liste_cols.append("2021-T2")
#print(liste_cols)

chomage_vf = chomage_vf.filter(liste_cols, axis=1)
#display(chomage_vf)

chomage_vf = chomage_vf.replace(to_replace = 'La', value = 'La Réunion', regex=True)
chomage_vf = chomage_vf.replace(to_replace = 'Territoire', value = 'Territoire de Belfort', regex=True)
chomage_vf.isna().sum().any() # Pas de NA dans le df a priori

False

In [26]:
# je ne comprends pas pourquoi ça ne fonctionne pas ==> ça met des NaN 
liste_cols = liste_cols[1:]
print(liste_cols)

# Les valeurs étaient des objets, on les transforme en entiers
chomage_vf = chomage_vf.apply(lambda x: x.astype(float) if x.name in liste_cols else x)

for an in annees:
    chomage_vf[an] = chomage_vf[[an+str(tr) for tr in trimestres]].mean(axis = 1)

chomage_vf['2021'] = chomage_vf[["2021-T1","2021-T2"]].mean(axis=1)
display(chomage_vf)

['2016-T1', '2016-T2', '2016-T3', '2016-T4', '2017-T1', '2017-T2', '2017-T3', '2017-T4', '2018-T1', '2018-T2', '2018-T3', '2018-T4', '2019-T1', '2019-T2', '2019-T3', '2019-T4', '2020-T1', '2020-T2', '2020-T3', '2020-T4', '2021-T1', '2021-T2']

,Libellé,2016-T1,2016-T2,2016-T3,2016-T4,2017-T1,2017-T2,2017-T3,2017-T4,2018-T1,...,2020-T3,2020-T4,2021-T1,2021-T2,2016,2017,2018,2019,2020,2021
0,France,9.9,9.8,9.6,9.7,9.3,9.2,9.3,8.7,8.9,...,8.9,7.8,7.8,7.8,9.750,9.125,8.700,8.175,7.850,7.80
1,Île-de-France,8.8,8.7,8.6,8.8,8.3,8.2,8.3,7.9,8.1,...,8.4,7.7,7.7,7.6,8.725,8.175,7.925,7.400,7.350,7.65
2,Centre-Val,9.7,9.5,9.4,9.4,9.0,9.0,8.9,8.4,8.6,...,8.3,7.1,7.2,7.2,9.500,8.825,8.450,8.050,7.400,7.20
3,Pays,8.8,8.5,8.4,8.4,8.0,7.9,7.9,7.3,7.6,...,8.0,6.7,6.8,6.7,8.525,7.775,7.375,7.050,7.000,6.75
4,Bretagne,8.8,8.6,8.4,8.6,8.1,8.0,8.0,7.5,7.7,...,7.7,6.6,6.6,6.5,8.600,7.900,7.500,6.975,6.775,6.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Var,11.1,10.8,10.7,11.0,10.6,10.4,10.4,9.9,10.2,...,9.7,8.2,8.4,8.6,10.900,10.325,9.925,9.200,8.575,8.50
110,Guadeloupe,25.6,25.1,21.5,20.6,21.6,22.9,21.4,22.5,23.5,...,18.9,19.4,17.5,19.2,23.200,22.100,22.025,20.125,16.850,18.35
111,Martinique,19.8,19.7,19.1,17.4,19.4,19.2,18.3,17.3,16.5,...,16.4,15.0,12.7,14.7,19.000,18.550,18.475,16.150,13.050,13.70
112,Guyane,19.4,19.8,22.8,19.1,18.7,20.4,20.5,18.1,15.8,...,17.1,17.8,12.5,13.8,20.275,19.425,16.825,17.125,14.125,13.15
113,La Réunion,23.3,21.5,21.7,22.1,21.5,24.0,22.5,23.4,24.1,...,19.6,17.4,17.7,16.5,22.150,22.850,24.175,21.500,17.375,17.10

In [109]:
chomage_vf["Département"] = chomage_vf["Libellé"].map(flipped_dict)
chomage_vf.drop(chomage_vf[chomage_vf['Département'].isnull()].index, inplace=True)

chomage_final = chomage_vf[["Département","Libellé","2016","2017","2018","2019","2020","2021"]].copy()
chomage_final.columns = ["code_departement","nom_departement","chomage_2016","chomage_2017",
                       "chomage_2018","chomage_2019","chomage_2020","chomage_2021"]
chomage_final = chomage_final.reset_index().drop("index", axis =1).sort_values(by = 'code_departement')
display(chomage_final)
display(chomage_final.shape)

12

,code_departement,nom_departement,chomage_2016,chomage_2017,chomage_2018,chomage_2019,chomage_2020,chomage_2021
1,01,Ain,7.350,6.775,6.325,6.050,6.075,6.05
2,02,Aisne,13.800,13.175,12.575,11.775,11.125,11.15
3,03,Allier,10.525,9.900,9.525,9.050,8.650,8.45
4,04,Alpes-de-Haute-Provence,11.450,11.075,10.750,10.075,9.400,9.35
5,05,Hautes-Alpes,9.275,8.750,8.475,7.950,7.575,8.40
...,...,...,...,...,...,...,...,...
93,95,Val-d'Oise,10.150,9.575,9.275,8.625,8.575,8.85
95,971,Guadeloupe,23.200,22.100,22.025,20.125,16.850,18.35
96,972,Martinique,19.000,18.550,18.475,16.150,13.050,13.70
97,973,Guyane,20.275,19.425,16.825,17.125,14.125,13.15
98,974,La Réunion,22.150,22.850,24.175,21.500,17.375,17.10

(99, 8)

In [ ]:
99

# Taux de logements vacants 

en théorie, plus le taux de logements vacants est élevé dans une zone, plus les prix sont bas

-Nombre de logements du parc privé
-Nombre de logements vacants du parc privé au 01/01/2019
-Nombre de logements du parc privé vacants depuis moins de deux ans au 01/01/2019
-Nombre de logements du parc privé vacants depuis deux ans ou plus au 01/01/2019
-Taux de logements vacants du parc privé au 01/01/2019
-Taux de logements du parc privé vacants depuis moins de deux ans au 01/01/2019
-Taux de logements du parc privé vacants depuis deux ans ou plus au 01/01/2019

In [14]:
link = 'https://www.data.gouv.fr/fr/datasets/r/d6b298be-42ee-4a9f-9a01-c8cb6edd4978'
vacants = pd.read_excel(link, 'Données')

In [79]:
vacants_new = vacants[["INSEE_COM","CODE_DEPT","NOM_DEPT","Prop_logvac_pp_010119"]]
vacants_new.columns=["code_postal","code_departement","nom_departement","taux_vacance_2019"]
vacants_new = vacants_new.groupby("nom_departement").mean("taux_vacance_2019").reset_index()
vacants_new["code_dpt"] = vacants_new["nom_departement"].map(flipped_dict)
vacants_new = vacants_new.sort_values(by = "code_dpt").reset_index().drop(columns = "index")
vacants_new

            nom_departement  taux_vacance_2019 code_dpt
0                       Ain          10.066116       01
1                     Aisne          10.998363       02
2                    Allier          14.294594       03
3   Alpes-de-Haute-Provence          11.413979       04
4              Hautes-Alpes           9.437147       05
..                      ...                ...      ...
95               Val-d'Oise           8.253955       95
96               Guadeloupe          16.804188      971
97               Martinique          13.315198      972
98                   Guyane          15.635261      973
99               La Réunion           9.463297      974

[100 rows x 3 columns]

3 facteurs qui influencent les prix de l'immobilier : http://www.bsi-economics.org/61-dynamique-des-prix-de-l%EF%BF%BDimmobilier-quels-determinants

- l'environnement économique et financier (offre et demande de logement, contexte économie, structure des marchés immobiliers, logements neufs et anciens, démographie, taux de logements vacants)

- les conditions d'emprunts (taux variables/fixes, maturités des prêts, ratio emprunt sur valeur, répartition des crédits, solvabilité, système de garantie)

- l'environnement fiscal (mesures fiscales incitatives à la location, distorsion fiscale des locataires vers les propriétaires)

**Jointure des tables**

Antijoin pour regarder ce qui n'a pas matché : parce que la liste des départements devrait être la même partout
Innerjoin pour éviter les NA

In [60]:
display(taux_natalite)
display(taux_natalite.shape)

    code_dpt                  nom_dpt tx_natalite_2020_percent
0         01                      Ain                     10.3
1         02                    Aisne                     10.1
2         03                   Allier                      7.8
3         04  Alpes-de-Haute-Provence                      8.0
4         05             Hautes-Alpes                      8.3
..       ...                      ...                      ...
97       971               Guadeloupe                     12.4
98       972               Martinique                      9.9
99       973                   Guyane                     27.5
100      974               La Réunion                     15.4
101      976                  Mayotte                     35.2

[102 rows x 3 columns]

(102, 3)

In [166]:
display(df_musees)
display(df_musees.shape)

                     nom_dep  nb_musees code_dep
0                        AIN         14       01
1                      AISNE         15       02
2                     ALLIER          9       03
3    ALPES DE HAUTE PROVENCE          9       04
4            ALPES-MARITIMES         33       06
..                       ...        ...      ...
96                    VENDEE         14       85
97                    VIENNE         12       86
98                    VOSGES          7       88
99                     YONNE         12       89
100                 YVELINES         18       78

[101 rows x 3 columns]

(101, 3)

In [65]:
display(chomage_final)
display(chomage_final.shape)

,code_departement,nom_departement,chomage_2016,chomage_2017,chomage_2018,chomage_2019,chomage_2020,chomage_2021
1,01,Ain,7.350,6.775,6.325,6.050,6.075,6.05
2,02,Aisne,13.800,13.175,12.575,11.775,11.125,11.15
3,03,Allier,10.525,9.900,9.525,9.050,8.650,8.45
4,04,Alpes-de-Haute-Provence,11.450,11.075,10.750,10.075,9.400,9.35
5,05,Hautes-Alpes,9.275,8.750,8.475,7.950,7.575,8.40
...,...,...,...,...,...,...,...,...
93,95,Val-d'Oise,10.150,9.575,9.275,8.625,8.575,8.85
95,971,Guadeloupe,23.200,22.100,22.025,20.125,16.850,18.35
96,972,Martinique,19.000,18.550,18.475,16.150,13.050,13.70
97,973,Guyane,20.275,19.425,16.825,17.125,14.125,13.15
98,974,La Réunion,22.150,22.850,24.175,21.500,17.375,17.10

(99, 8)

In [72]:
display(vacants_new)
display(vacants_new.shape)

            nom_departement  taux_vacance_2019 code_dpt
0                       Ain          10.066116       01
1                     Aisne          10.998363       02
2                    Allier          14.294594       03
3           Alpes-Maritimes          10.294761       06
4   Alpes-de-Haute-Provence          11.413979       04
..                      ...                ...      ...
95                   Vendée           5.960910       85
96                   Vienne          11.517519       86
97                   Vosges          11.738203       88
98                    Yonne          11.206385       89
99                 Yvelines           7.156488       78

[100 rows x 3 columns]

(100, 3)